body{
    background-size: cover;
    width: 100%;
}
#heading{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: white;
}
#start{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
#back{
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: bold;
}
#status{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
}
